#sellerName, #sellerEmail{
    text-shadow: 2px 2px 2px white !important;
    color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}